[package]
name = "setup"
version = "0.1.0"
edition = "2024"

[dependencies]
eframe = "0.29"
egui = "0.29"

[profile.release]
opt-level = "z"       
lto = true 
codegen-units = 1
panic = "abort"
strip = true
